APP_NAME="Past Cart"
APP_ENV=local
APP_KEY=base64:WrvqXJ+ilWOLItqI7C2N2R2dQkqFAHFYzTrQBBJqtso=
APP_DEBUG=true
APP_URL="https://pastcart.in"
APP_TIMEZONE="Asia/Kolkata"

DEMO_MODE="Off"

LOG_CHANNEL=stack
LOG_LEVEL=error
DB_CONNECTION=mysql
DB_HOST=sdb-61.hosting.stackcp.net
DB_PORT=3306
DB_DATABASE=pastcart-35303733c60-35303237fdcd
DB_USERNAME=pastcart-35303733c60-35303237fdcd
DB_PASSWORD=aNkkdRZY8mk5rHwz

BROADCAST_DRIVER=log
CACHE_DRIVER="file"
QUEUE_CONNECTION=sync
SESSION_DRIVER="file"
SESSION_LIFETIME=120

REDIS_HOST="127.0.0.1"
REDIS_PASSWORD="null"
REDIS_PORT="6379"

MAIL_DRIVER="smtp"
MAIL_HOST="live.smtp.mailtrap.io"
MAIL_PORT="2525"
MAIL_USERNAME="api"
MAIL_PASSWORD="1a1a493fba450d75fee191ce8b73352a"
MAIL_ENCRYPTION="tls"
MAIL_FROM_ADDRESS="noreply@pastcart.shop"
MAIL_FROM_NAME="Pastcart"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_CLIENT_ID="AYDV38VjlzanfOZFlk1RprL2HXHHii_Q8L24K9zepWzz3idOSutGGn-WVw-wi5Lvg5Qol8FgZGzKiuGR"
PAYPAL_CLIENT_SECRET="ELwmeZHNSOS9josMpa23htdSspF1RHb-J201sNDvqmWSj41BvvlsBFi3XrjLw98Fy1ESTPq2RQDsbjdk"

STRIPE_KEY="pk_test_51HUWfSGRvmmDdlLV4SicdCgwHvugSZJIWnq3JAVRdJFwzkNS94SafaOSsg9qgUdQkO0yyWARKyWSXOjjBXFrvwDD00kYOLnaBQ"
STRIPE_SECRET="sk_test_51HUWfSGRvmmDdlLV87aRqJ8CVka2HtjB1SQvBzfbWzr7F9KaK5txg23eASkhitYJVz0IgovdnOOi7t6ab3xqGB4D00oAGvGCxq"

SSLCZ_STORE_ID="activ5c3c5dac9254d"
SSLCZ_STORE_PASSWD="activ5c3c5dac9254d@ssl"

IM_API_KEY="879e02bdf6407256bf2cec51c8760063"
IM_AUTH_TOKEN="22bf00132e8267dd68e92fd49a24b300"

RAZOR_KEY=""
RAZOR_SECRET=""

PAYSTACK_PUBLIC_KEY="pk_test_42b41f955c180d2c4f79f789f426a81ac9bab4d4"
PAYSTACK_SECRET_KEY="sk_test_862a3dcc901ec941531c004da4796ee9e7a1f93f"

VOGUE_MERCHANT_ID="DEMO"

GOOGLE_CLIENT_ID="651993729149-v2cvv4u87nmt91jut6kpugjgdmm90k8r.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

FACEBOOK_CLIENT_ID="890382565433377"
FACEBOOK_CLIENT_SECRET="1b2a50ca8c45a11357b67a65f0a0cdf2"

TRACKING_ID=""

FACEBOOK_PAGE_ID=""
FACEBOOK_PIXEL_ID=""

DEFAULT_LANGUAGE="en"

TWILIO_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_VERIFY_SID=""
VALID_TWILLO_NUMBER=""

NEXMO_KEY=""
NEXMO_SECRET=""

SSL_SMS_USER="Adyan"
SSL_SMS_SID=""
SSL_SMS_PASSWORD=""
SSL_SMS_URL="http://sms.sslwireless.com/pushapi/dynamic/server.php"

PAYTM_ENVIRONMENT="production"
PAYTM_MERCHANT_ID="PMdcqV17965065655319"
PAYTM_MERCHANT_KEY="aI@@s8Q%jYi6CvV3"
PAYTM_MERCHANT_WEBSITE="WEBSTAGING"
PAYTM_CHANNEL="WEB"
PAYTM_INDUSTRY_TYPE="Retail"

SENDER_ID="FSTSMS"
LANGUAGE="english"
ROUTE="dlt_manual"
AUTH_KEY="1"
ENTITY_ID="123"

PAYHERE_MERCHANT_ID="1215091"
PAYHERE_SECRET="4kmtyso0vxZ8ggjJN5MyUm4p5k6Cmyswo4ZCcldBFIvs"
PAYHERE_CURRENCY="USD"

PAYFAST_MERCHANT_ID="10003008"
PAYFAST_MERCHANT_KEY="m0sfp3xkxzqlm"

NGENIUS_OUTLET_ID="765effa3-68d9-4a61-9273-b43261a0c223"
NGENIUS_API_KEY="OGQyYmY3YWQtYzFiMS00ODljLWEyZDQtZTM5ZWIyYTc4NTcxOjkxMjVkMzNmLWU5YjItNDFlNy05Y2JlLWUwNDEyMGViNDM1YQ=="
NGENIUS_CURRENCY="AED"

CAPTCHA_KEY="6LcYWY0nAAAAAK0q1lv8VQnfuTsSeB2pHWt5r7Af"
FORCE_HTTPS="Off"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=""
AWS_BUCKET=""
AWS_URL="https://bucket-name.s3.region.amazonaws.com"

FILESYSTEM_DRIVER="local"


IYZICO_API_KEY="sandbox-1GcasNxaRSuHuxbK1aD67VSSpS2xPE9o"
IYZICO_SECRET_KEY="sandbox-j7X6sWA2B8qhN6wwyYGbxYYf5JCliceu"

PROXYPAY_TOKEN="im5lqr34fwt37vougnpe4nuizu6exzlf"
PROXYPAY_ENTITY="99923"

PROXYPAY_END_TIME="2"

AAMARPAY_STORE_ID="aamarpay"
AAMARPAY_SIGNATURE_KEY="28c78bb1f45112f5d40b956fe104645a"

FCM_SERVER_KEY="AAAAeupjf6Y:APA91bGkdJGl-l4RxR4anWu1Oix1ufAnUao5ZGvaM1UQXarBZFsHhYhjnOc1MT5prUaenXy91pNMjgmJDuY1KYYAjP_Dy-7uYvegY1C-_IwY6rbJSzr1xcg0T3eQwsrw5ouET4fKglnK"
MAP_API_KEY="AIzaSyC9x8mCn5-P8XUl59uGqwmmcU6Alt1qza8"

FLW_PUBLIC_KEY="FLWPUBK_TEST-1b5be32a4d8ca4de29969f3cb52b9c3b-X"
FLW_SECRET_KEY="FLWSECK_TEST-68a59d51527ec4e922ce39b431b22e2b-X"
FLW_SECRET_HASH="FLWSECK_TESTeda501fdda9f"

PAYKU_BASE_URL="https://des.payku.cl/api"
PAYKU_PUBLIC_TOKEN="tkpu6858fef1b75832c63d84cf1551f1" 
PAYKU_PRIVATE_TOKEN="tkpi8a0b5ca0a8af71a62d12d481fc61"

MPESA_CONSUMER_KEY="AhVBxJor4KtkTngBPzewNHKlkAAWBsbS"
MPESA_CONSUMER_SECRET="mG7dyhLHl0uNBxK0"
MPESA_SHORT_CODE="4082533"
MPESA_USERNAME="Order N Get"
MPESA_PASSWORD="Muktar1097#"
MPESA_PASSKEY="355119ac2483abbbc57e46b19c0722a320595a9b244a1aa0412372dc09f5634e"
MPESA_ENV="live"
MAILGUN_DOMAIN=""
MAILGUN_SECRET=""
SMSALERT_APIKEY="626dbd1f2581e"
SMSALERT_SENDER_ID="PSTCRT"
GST_NO="Testing"
TWITTER_CLIENT_ID="sdf"
TWITTER_CLIENT_SECRET="df"