/*your custom css goes here*/
.collapse-sidebar .btn{
  position: absolute;
  z-index: 99;
  right: 0;
  color:#fff;
}
#scroll-top {
    display: inline-block;
    background-color: #FF9800;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 90px;
    right: 30px;
    transition: background-color .3s;
    z-index: 10000;
}

#scroll-top::after {
    content: "\e91d";
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 19px;
}

#scroll-top:hover {
    cursor: pointer;
    background-color: #333;
}

#scroll-top:active {
    background-color: #555;
}
.image-cat img {
  max-height: 250px;
  object-fit: cover;
  min-height: 250px;
}
.product-card img {
  max-height: 250px;
  min-height: 250px;
  width: 100%;
  object-fit: contain;
}
/*
Preloader Area Style
================================*/
.ppreloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: 99999;
}

.ppreloader .lds-ripple {
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ppreloader .lds-ripple div {
  position: absolute;
  border: 4px solid #FF9800;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ppreloader .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.vertical-menu-content .sm_megamenu_wrapper_vertical_menu{
    height:100%vh;
    max-height:800px;
    overflow-y: scroll;
    overflow-x: hidden;
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
@media(min-width:769px) {
.top10 .col-md-3{
    flex: 0 0 auto;
    width: 20% !important;
}
}
@media(max-width:768px) {
.top10 .col-md-3{
    flex: 0 0 auto !important;
    width: 33.33% !important;
} 
}
@media(max-width:415px) {
.top10 .col-md-3{
    flex: 0 0 auto !important;
    width: 100% !important;
}
}

/* Footer Logo Fix */
.block-footer.aboutus-footer .block-footer-title img {
    width: auto !important;
    height: 44px !important;
    max-height: 44px !important;
    min-height: 44px !important;
    object-fit: contain !important;
}

/* Product Count Styling */
.product-count {
    font-size: 0.85em;
    color: #666;
    font-weight: normal;
    margin-left: 4px;
}

.sm_megamenu_title .product-count {
    color: #888;
    font-weight: normal;
}

.sm_megamenu_title_lv-2 .product-count {
    color: #999;
    font-weight: normal;
}

.sm_megamenu_title_lv-3 .product-count {
    color: #aaa;
    font-weight: normal;
}