.product-condition {
	color: #fff;
	background: #25c620;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 10px;
	position: absolute;
    top: 56%;;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}
/*
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}
 */  
.product-content .product-status {
  text-decoration: none;
  color: inherit;
  padding-top: 1rem;
  display: block;
  text-align: center;
  overflow: hidden;
  font-size: 40px;
}
.product-content .product-status span {
  display: block;
 	color: #fff;
	background: #2e29ca;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 10px;
	position: absolute;
  top: 56%;
  right:0px;
}

@media (hover: hover) {
  .product-content .product-status span {
    transform: translateY(200px);
    transition: 0.2s;
  }
  .product-content:hover span {
    transform: translateY(0);
  }
  
  
}


.corner-ribbon {
    position: relative;
}

.corner-ribbon__inner {
    /* Displayed at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Size */
    height: 10rem;
    width: 10rem;

    /* Hide the part of its children which is displayed outside */
    overflow: hidden;
}

.corner-ribbon__ribbon {
	left: 1rem;
	position: absolute;
	top: 1rem;
	height: 25px;
	width: 12.656rem;
	transform: translate(-38px, -8px) rotate(-45deg);
	background-color: red;
	/* text-align: center; */
	/* font-size: 14px; */
	color: white;
	padding-left: 35px;
	font-weight: bold;
}


.otp-input-fields {
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 8px 0px #02025044;
  max-width: 400px;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 40px;
}
.otp-input-fields input {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #2f8f1f;
  text-align: center;
  outline: none;
  font-size: 16px;
  /* Firefox */
}
.otp-input-fields input::-webkit-outer-spin-button, .otp-input-fields input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp-input-fields input[type=number] {
  -moz-appearance: textfield;
}
.otp-input-fields input:focus {
  border-width: 2px;
  border-color: #287a1a;
  font-size: 20px;
}

.result {
  max-width: 400px;
  margin: auto;
  padding: 24px;
  text-align: center;
}
.result p {
  font-size: 24px;
  font-family: "Antonio", sans-serif;
  opacity: 1;
  transition: color 0.5s ease;
}
.result p._ok {
  color: green;
}
.result p._notok {
  color: red;
  border-radius: 3px;
}
